* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.15em;
    background: url('/images/noise_lines.png');
}

header {
    padding: 1em;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1em auto;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
    background: url('/images/dirty_old_shirt.png') rgb(184, 184, 184);
    color: #fff;
}

footer>a, footer>*>a {
    color: white;
}



img {
    max-width: 250px;
}

/* Mobile */

@media screen and (max-width: 320px) {
    main {
        width: 90%;
    }
}

/* Tablet */
@media screen and (min-width: 321px) and (max-width: 769px){
    main {
        max-width: 400px;
    }
}

/* Desktop */
@media screen and (min-width: 770px){
    header {
        justify-content: left;
    }
    h1 {
        margin-right: 2em;
    }
    main {
        max-width: 800px;
    }
}

fieldset {
    border: 0;
}

input {
    margin-right: .5em;
}

label {
    line-height: 1.5em;
}

button {
    height: 40px;
    padding: .5em;
    background: rgb(165, 165, 165);
    border-radius: 15px;
    border: 1px solid rgb(51, 21, 53);
}

/* Copy w/o questions in main */
.quizAbout, .quizStart, .quizResults {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#user-data, #question-number {
    font-size: 2em;
    margin-bottom: 1em;
}

.submitAnswer {
    margin-top: 1em;
}

.hidden {
    display: none;
}

.selected {
    background-color: rgb(226, 231, 148);
}
.correct {
    background-color: rgb(147, 192, 147);
}
.incorrect {
    background-color: rgb(223, 110, 110);
}

.questionText>br {
    line-height: 2em;
}

#correctScore::after {
    content: " |"
}
